
.d_solutions h6 {
    letter-spacing: 2px;
    font-weight: 300;
}

.d_solutions {
    padding: 0 !important;
   
}

.d_solutions .d_card {
    height: 350px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d_movies_carousel .react-multiple-carousel__arrow--right {
    right: calc(0% + 1px);
    background: rgb(134 134 134 / 80%) !important;
}

.d_movies_carousel .react-multiple-carousel__arrow--left {
    left: calc(0% + 1px);
    background: rgb(134 134 134 / 80%) !important;
}

.d_our_products p {
    margin: 0 !important;
    margin-bottom: 2px !important;
    font-size: 18px !important;
}

.d_our_products .b_box {
    padding: 50px;
    background-repeat: no-repeat !important;
    display: flex;
    flex-direction: column;
    background-size: cover !important;
}

.d_bulk_booking {
    padding: 90px 50px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.d_testimonials2 .b_img_box {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}