@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.d_red_light_color{
    background: #F84464;
}
.d_text_light_grey_colour{
  color: #89888b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
}
.d_sign_btn:hover {
    color: #F84464 !important;
    border: 1px solid #e65c75 !important;
    background: none !important;
}
.d_red_light_border{
  border: 1px solid #d12f4d !important;
}
body {
    font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
  width: 0px !important;
}

.d_bg_red_light_color {
  background: #F84464;
}

.d_text_red_light_color {
  color: #F84464;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
input::placeholder {
    color: #808080;
    font-size: 14px;
}
.d_bottom ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.d_bottom ul a{
    color: black;
    text-decoration: none;
}
.d_bottom ul a.active{
        color: #F84464 !important;      
    }
.d_bottom ul span {
    font-weight: 300;
    font-size: 12px;
}
.d_bg_dark{
  background-color: #1f253bbe;
}
.d_h7 {
  font-size: 7px;
}
.d_h8 {
  font-size: 8px;
}
.d_h9 {
  font-size: 9px;
}
.d_h10 {
  font-size: 10px;
}
.d_h11 {
  font-size: 11px;
}
.d_h12 {
  font-size: 12px;
}
.d_h13 {
  font-size: 13px;
}
.d_h14 {
  font-size: 14px;
}
.d_h15 {
  font-size: 15px;
}
.d_h16 {
  font-size: 16px;
}
.d_h17 {
  font-size: 17px;
}
.d_h18 {
  font-size: 18px;
}
.d_h19 {
  font-size: 19px;
}
.d_h20 {
  font-size: 20px;
}
.d_sticky{
  position: sticky;
  height: max-content;
  top: 0;
}

/* backgrounds  */
.d_bg_dark{
  background: #313035;
}
.d_bg_dark_light{
  background: #404043;
}
.d_bg_dark_light2{
  background: #313035;
}
.d_light{
  background: #e3e2e770;
}
.row{
  margin: 0;
}
.d_cursor_pointer{
  cursor: pointer;
}
.d_user_select_none{
  user-select: none;
}
