.b_movies_details {
        min-height: 460px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        display: flex;
        justify-content: center;
        background-position: center !important;
        align-items: center;
    }
    
    .b_movies_details .b_img_box {
        height: 400px;
        width: 100%;
        border-radius: 10px;
    }
    
    .b_movies_details .b_img_box img {
        height: 100%;
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
    }
    
    .b_movies_details .b_rating_box {
        background: rgb(51, 51, 51);
        margin: 20px 0px;
    }
    
    .b_movies_details .b_screen_box .b_screen,
    .b_movies_details .b_screen_box .b_lang {
        border-radius: 2px;
    }
    
    .b_movies_details a {
        text-decoration: none !important;
        font-size: 14px;
    }
    
    .b_movies_details a:hover {
        text-decoration: underline !important;
    }
    
    .b_movies_details .b_duration_box a {
        font-size: 17px;
    }
    
    .b_movies_details .b_share_btn {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 18px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.4);
        color: white;
    }